#table{
    height: 150px;
    width: 150px;
    font-size: 12px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px auto 0 auto;
    /*grid-gap:1em;*/
    /*grid-auto-rows:100px;*/
    /*grid-auto-rows:minmax(100px,auto);-*/
    
    /*background: #d32525;*/
   /* border: 4px solid #333333;*/
    transition: all .25s ease-in-out;
    cursor: pointer;
    line-height: 100px;
    


    
}

#table :hover{
    background:rgba(10,10,10);
    color: #ffffff;

}

#Restart{
    background: #7d2dbe;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid rgb(131, 189, 228);
    cursor: pointer;
    width:100px;
    height: 20px;
    font-size: 12px;
    display: block;
    margin: 10px auto 0 auto;

}

/*#b1,#b2{
    background: #ffffff;
    border: solid rgb(15, 15, 15);
}*/

