
body{
    padding: 0;
    margin: 0;
}

#table{
    height: 120px;
    width: 120px;
    font-size: 12px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px auto 0 auto;
    /*grid-gap:20px solid #000000;*/
    /*grid-auto-rows:100px;*/
    /*grid-auto-rows:minmax(100px,auto);-*/
   
    float: left;


    
}

#table :hover{
    background:rgb(137, 133, 146);
    color: #ffffff;

}

#Restart{
    background: #7d2dbe;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid rgb(131, 189, 228);
    cursor: pointer;
    width:100px;
    height: 20px;
    font-size: 12px;
    display: block;
    margin: 10px auto 0 auto;

}

#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
    background: #411064;
    /*border-radius: 30px;*/
    border:0.1px solid #94928b;
   color: #ffffff;
    width: 40px;
    height: 40px;

}

.header{
    width: 200px;
    height:50px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px; 
    background: #15bd2b;
    color: bisque;
    text-align: center;
    border: 1px solid yellow;
    display: block;
    cursor: pointer;
    float:right;
    margin: 0;
    overflow: hidden;
    padding: 0;


}

footer{
    padding: 20px;
    margin-top: 20ox;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
}

 

h1{
    background: #000000;
    color: #ffffff;
    margin: 0;    
    min-height: 20px;
  
   
    }
    
.section1{
    width: 200px;
    min-height: 50px;
    margin-top:0;
    background-color: #15bd2b;
    color: #000000;
    float: auto; 
}

.section2{
    width: 200px;
    min-height: 50px;
    margin-top:0;
    background-color: #15bd2b;
    color: #000000;
    float: right; 
}

.content{
    float: right;
}

.boxes{
    width: 40%;
}
