
body{
    padding: 0;
    margin: 0;
}

#table{
    height: 300px;
    width: 300px;
    font-size: 30px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:50px; 
    float: left;
}

#table :hover{
    background:rgb(137, 133, 146);
    color: #ffffff;
}

#Restart{
    background: #7d2dbe;
    color: #ffffff;
    font-weight: bold;
    border: 5px solid rgb(53, 198, 235);
    cursor: pointer;
    width:200px;
    height: 70px;
    font-size: 36px;
    display: block;
    margin-left: 90px;
    margin-top: 30px;
}

#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
    background: #411064;
    border:0.1px solid #94928b;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 64px;
}

.header{
    width: 375px;
    height:80px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px; 
    background: #0b0a52;
    color: white;
    float:right;
    margin-left:20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 0;
}
 

h1{
    background-color: #000000;
    margin: 0;    
    min-height: 76px;
    padding-left: 20px;
    font-style: bold;
    font-size: 48px;
    color: rgb(248, 233, 16);
    padding-top: 20px;
}
    
.section1{
    background-color: #b10e24;
    color: #f7f0f0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    border:3px #411064 groove;
   
}
.section2{
    background-color:#f3ce2a ;
    color: #161616;
    padding:5px;
    font-size: 20px;
    text-align: center;
    border:3px #411064 groove;
    
}

.content{
    float: right;
}

.boxes{
    margin: auto;
}

.container{
    min-height: 560px;
    display: grid;
    grid-template-columns: 250px auto 250px;
}

#instruction{
    background-color: rgb(22, 5, 18);
    color: aliceblue;
    padding-top: 0;
    font-size: 36px;
}

header .highlight{
    color:red;
    font-weight: bold;   
}

#about{
    background-color: rgb(29, 6, 23);
    color: aliceblue;
    padding-top: 0;
    font-size: 36px;
}